<div class="container">
    <h1>Formulário</h1>
    <form (ngSubmit)="onSubmit()" #Forms="ngForm">
      <div class="form-group">
        <label for="name">nome</label>
        <input type="text" class="form-control" id="nome" required
        [(ngModel)]="model.nome" name="nome" #nome="ngModel">
        <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
          Esta informação é requerida!
        </div>
      </div>

      <div class="form-group">
        <label for="name">e-mail</label>
        <input type="text" class="form-control" id="email" required
        [(ngModel)]="model.email" name="email" #email="ngModel">
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Esta informação é requerida!
        </div>
      </div>

      <div class="form-group">
        <label for="alterEgo">Telefone</label>
        <input type="text" class="form-control" id="telefone"
        [(ngModel)]="model.telefone" name="telefone" #telefone="ngModel">
        <div [hidden]="telefone.valid || telefone.pristine" class="alert alert-danger">
          Esta informação é requerida!
        </div>
      </div>

      <div class="form-group">
        <label for="alterEgo">Assunto</label>
        <select class="form-control" id="assunto" required
        [(ngModel)]="model.assunto" name="assunto" #assunto="ngModel">
          <option *ngFor="let sobre of assuntos" [value]="sobre">{{sobre}}</option>
        </select>
      </div>
      <!-- *ngFor faz o loop no array -->

      <div class="form-group">
        <label for="alterEgo">Mensagem</label>
        <input type="text" class="form-control" id="mensagem" required
        [(ngModel)]="model.mensagem" name="mensagem" #mensagem="ngModel">
        <div [hidden]="mensagem.valid || mensagem.pristine" class="alert alert-danger">
          Esta informação é requerida!
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!Forms.form.valid">Submit</button>
	  <button type="button" class="btn btn-success" (click)="novoForm(); form.reset()">Novo</button>

    </form>
</div>
