<div class="jumbotron">
  <h2>Sistemas para Internet</h2>
  <p>Neste curso, você vai trabalhar com Front-end (HTML5, CSS3, entre outros)
	com foco em UX, Desenvolvimento Mobile (Android, IOS e HTML5), Gestão de Negócios, Tratamento de Imagens e
	Gerenciamento de Plataformas Digitais. Vai ser estimulado a empreender e criar sua própria Startup,
	por meio da vivência e do estudo de casos reais.</p>
</div>
<div class="row text-center row-eq-height">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="./assets/img/destaque_01.png" alt="...">
      <div class="caption impar">
        <h4>HTML5</h4>
        <p>Aplicação de Padrões Web, XHTML5 (padrão W3C), CSS, Javascript e sistemas Web centrados em User Experience.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="./assets/img/destaque_02.png" alt="...">
      <div class="caption par">
        <h4>Desenvolvimento Mobile</h4>
        <p>Desenvolvimento de apps para dispositivos móveis Apple utilizando storyboard, UIKit, MVC, protocolos, requisições HTTP, JSON, persistência e mapas nas linguagens Obj-C e Swift.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="./assets/img/destaque_03.png" alt="...">
      <div class="caption impar">
        <h4>Gestão de Negócios</h4>
        <p>Você será imerso no ecosistema dos e-commerce´s, através do desenvolvimento do plano de negócios para startups, relacionamento com os clientes virtuais, identificação de público alvo e estratégias de negócio.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="./assets/img/destaque_04.png" alt="...">
      <div class="caption par">
        <h4>Sua Própria Startup</h4>
        <p>VO Start-Up Brasil, Programa Nacional de Aceleração de Startups, é uma iniciativa do governo federal, criado pelo Ministério da Ciência, Tecnologia, Inovações e Comunicações (MCTIC)</p>
      </div>
    </div>
  </div>
</div>
