<div class="jumbotron">
  <h2>Sistemas para Internet</h2>
  <p>Neste curso, você vai trabalhar com Front-end (HTML5, CSS3, entre outros)
	com foco em UX, Desenvolvimento Mobile (Android, IOS e HTML5), Gestão de Negócios, Tratamento de Imagens e
	Gerenciamento de Plataformas Digitais. Vai ser estimulado a empreender e criar sua própria Startup,
	por meio da vivência e do estudo de casos reais.</p>
</div>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="./assets/img/destaque_01.png" alt="...">
      <div class="caption impar">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="./assets/img/destaque_02.png" alt="...">
      <div class="caption par">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="./assets/img/destaque_03.png" alt="...">
      <div class="caption impar">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="./assets/img/destaque_04.png" alt="...">
      <div class="caption par">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </div>
  </div>
</div>
